:root {
   --eerie: hsl(0, 0%, 12%);
   --ship: hsl(0, 0%, 30%);
   --blue: hsl(236, 74%, 70%);
}

html {
   background-color: var(--eerie);
}

body {
   display: grid;
   margin: 0 auto;
   max-width: 100rem;
   min-height: 100vh;
   place-content: center;
}

@media (min-width: 40em) {
   body {
      display: grid;
      gap: 2.5rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 2.5rem;
   }
}

@media (min-width: 80em) {
   body {
      gap: 5rem;
      padding: 5rem;
   }
}

a {
   color: var(--blue);
}